<div class="topnav" aria-label="Toggle navigation">
  <a
    aria-label="Aative Link Home"
    class="active"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    >Home</a
  >
  <!--   <a href="#news">News</a>-->
  <a class="pointer" (click)="changeTheme()">Toggle Theme</a>
  <div class="topnav-right">
    <a
      *ngIf="!userLoginStatus"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      >Sign in</a
    >
    <a *ngIf="userLoginStatus">Welcome </a>
    <a [routerLink]="['/registermodule']" routerLinkActive="router-link-active"
      >Sign up</a
    >
  </div>
</div>
